section#piecesList.wow.fadeInUp.page-section.section-bg
  .container
    +sectionTitle("Liste des pièces")
    table.table.table-striped.table-hover.table-sm
      thead
        tr
          th(scope='col') Description
          th.w-auto.text-center(scope='col') Marque
          th.w-auto.text-center(scope='col') Modèle
          th.w-auto.text-center(scope='col') Quantité
      tbody
          each piece in pieces
              tr(onclick=`window.location='${piece.url}';`)
                td #{piece.description}
                td.text-center #{piece.marque}
                td.text-center #{piece.modele}
                td.text-center #{piece.quantite}
                td.text-center
