section#detailedList.wow.fadeInUp.page-section.section-bg
  .container
    +sectionTitle("Liste détaillée des capteurs")
    table.table.table-striped.table-hover
      thead
        tr
          th(scope='col') Calvette
          th.w-auto.text-center(scope='col') État
          th.w-auto.text-center(scope='col') Température
          th.w-auto.text-center(scope='col') Humidité
          th.w-auto.text-center(scope='col') Humidité cible
      tbody
        tr
          td #1
          td.w-auto.text-center
            span.ml-2.badge.badge-pill.badge-success=calvette1.status
          td.w-auto.text-center=calvette1.temperature
          td.w-auto.text-center=calvette1.humidity
          td.w-auto.text-center=calvette1.treshold
        tr
          td #2
          td.w-auto.text-center
            span.ml-2.badge.badge-pill.badge-success=calvette2.status
          td.w-auto.text-center=calvette2.temperature
          td.w-auto.text-center=calvette2.humidity
          td.w-auto.text-center=calvette2.treshold
        tr
          td #3
            td.w-auto.text-center
              span.ml-2.badge.badge-pill.badge-success=calvette3.status
            td.w-auto.text-center=calvette3.temperature
            td.w-auto.text-center=calvette3.humidity
            td.w-auto.text-center=calvette3.treshold
          tr